*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f1f1f1;

}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/217/257/230/5bd2c91aee47c-wallpaper-preview.jpg");
}

.login-container{
    display: flex;
    width: 800px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}


.marco{
    width: auto;
    background: #f2711cff;
    color: #fff;
}

.register, .login{
    flex: 1;
}

.register{
    padding: 40px;
    position: relative;
}

.register h2{
    color: #797979;
    margin-bottom: 30px;
}

.register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}

.login input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}


.espacio{
    padding-bottom:20px;
}
.register input:active,
.register input:focus{
    outline: none;
}

.register .submit{
    width: 100%;
    padding: 10px;
    background: #f17108;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

header {
    background: #333;
    height: 1px;
}

header>h1 {
    text-align: center;
    font: bold 36px Arial, Helvetica, sans-serif;
    line-height: 260px;
    color: #ffffff;
    text-transform: uppercase;
}

.register::after{
    content: '>';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    right: -19px;
    padding: 12px;
    text-align: center;
    font-size: 30px;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
    color: #7c7c7c;
}

.login{
    background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
    padding: 40px;
}

.login h2{
    color: #fff;
    margin-bottom: 85px;
}

.login button i{
    position: absolute;
    top: 12px;
    left: 12px;
}

.login button{
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
}

.login .iniciarSesion{
    top:50px;
    background: #f17108;
    border-style: none;
    color: #fff;

}


@media only screen and (max-width: 540px){
    .login-container{
        display: block;
    }

    .register, .login{
        flex: none;
    }

    .register::after{
        top: unset;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
}
